
# Godot-specific ignores
godot_project/.import/
godot_project/export.cfg
godot_project/export_presets.cfg

# Mono-specific ignores
godot_project/.mono/
godot_project/data_*/

# Asset ignores
*.png
*.jpg
*.jpeg
*.gif
*.wav
*.ogg
*.aseprite

# 3rd party ignores
assets/
dialogue_designer/
godot_project/addons